*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    padding: 0 30px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 12px;
}
.logo img{
    max-width: 80%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    padding: 9px 0 7px 8px;
    background: none;
    border: 1px solid grey;
    margin: 8px 0;
    border-radius: 3px;
}
button{
    background: rgb(136, 136, 250);
    border: none;
    border-radius: 3px; 
    padding: 5px;
}
.auth{
    text-align: center;
}